body {
	background-color: #2f3539;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #aaa;
	font-size: 16px;
}
* {
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow: visible;
}
div::after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
a {
	color: #858585;
}
a:hover,
a.active {
	text-decoration: none;
	color: #3498db;
}
header,
section {
	background-color: #fff;
	color: #454545;
	position: relative;
}
section {
	padding: 25px 0;
}
.content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 15px;
}
header {
	clear: both;
	padding-bottom: 10px;
}
header::after {
	display: block;
	content: "";
	width: 100%;
	clear: both;
}
header .header {
	height: 70px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	box-shadow: 0 0 4px rgba(0, 0, 0, .2);
	padding: 10px 15px;
}
header .header .logo {
	display: inline-block;
	width: 50px;
	opacity: .8;
}
header .header .logo:hover {
	opacity: .9;
}
header .header .menu li {
	line-height: 50px;
}
footer .footer {
	padding: 50px 0 20px 0;
	border-top: 1px solid #2a2f37;
}
footer section {
	padding: 40px 0;
	background: #f0f0f0;
}
footer section ul {
	margin: 0;
}
.white-bg {
	background-color: #fff;
}
.grey-bg {
	background-color: #f4f4f4;
}
.catalog,
.extension {
	margin: 25px 0;
	padding: 40px 0;
}
.catalog .item {
	background: #fff;
	border-bottom: 1px solid #e4e4e4;
	height: 100%;
}
.catalog .item h3 {
	font-size: 17px;
	font-weight: 700;
}
.catalog .item h3 a {
	color: #454545;
}
.catalog .item h3 a:hover {
	color: #3498db;
}
.catalog .item .thumbnail img {
	width: 100%;
}
/*.catalog .item */
.box {
	padding: 30px 20px 20px 20px;
}
.download-btn {
	display: inline-block;
	width: 100%;
	line-height: 20px;
	padding: 10px 20px;
	text-decoration: none !important;
	color: rgba(255,255,255,0.9) !important;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #01b4b4;
	border-radius: 4px;
	font-size: 14px;
}
.actions ul {
	margin: 20px 0;
}
.actions ul li+li {
	margin-top: 5px;
}
.download-btn.magento-marketplace {
	background-color: #f16321;
}
.download-btn.github {
	background-color: #24292e;
}
.download-btn.guidelines {
	background-color: #16a085;
}
.gallery .owl-carousel {
	cursor: move;
}